.burger__bars {
  border: 0;
  outline: 0;
  background: none;
  color: $c-deep-black;
  font-size: 2rem;
  cursor: pointer;
}

.bm-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background: $c-pale-white;
  color: $c-deep-black;
  overflow: auto;

  &-heading {
    font-size: 4rem;
  }

  &-content {
    flex-grow: 1;
  }

  &-logo {
    margin-bottom: 2rem;
  }

  &-item {
    margin-bottom: $m-gutter;
    color: $c-deep-black;
    font-size: 2rem;
  }

  &-username {
    font-size: 1.5rem;
  }
}
