.bm-content {
  // background: $c-test !important;
  background: url('../../photos/Silver-Tarp-glitched-4-20-2017-11-45-14-PM copy.png') no-repeat center center fixed !important;
  // object-fit: fill !important;
  height: 100vh !important;
  width: 100vw !important;
}

.burger__bars {
  border: 0;
  outline: 0;
  background: none;
  color: $c-test;
  font-size: 2rem;
  cursor: pointer;
}

.bm-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background: $c-electric-blue;
  color: $c-deep-black;
  overflow: auto;

  &-heading {
    font-size: 4rem;
  }

  &-logo {
    margin-bottom: 2rem;
  }

  &-item {
    margin-bottom: $m-gutter;
    color: $c-test;
    font-size: 1.4rem;
  }

  &-username {
    font-size: 1.5rem;
  }
}
