.burger__bars {
  border: 0;
  outline: 0;
  background: none;
  color: $c-deep-black;
  font-size: 2rem;
  cursor: pointer;
}

.bm-menu {
  padding: 2rem;
  // background: $c-yellow;
  background: $c-blue;
  color: $c-deep-black;
  overflow: auto;

  &-heading {
    font-size: 4rem;
  }

  &-logo {
    margin-bottom: 2rem;
  }

  &-item {
    margin-bottom: $m-gutter;
    color: $c-deep-black;
    font-size: 2rem;
  }
}
