.card {
  display: flex;
  justify-content: center;
  color: $c-red;

  &-content {
    width: 40rem;
    border-radius: 5px;


    &__img {
      position: relative;
      margin-left: -$m-gutter;
      margin-top: -$m-gutter;
      margin-right: -$m-gutter;
      // width: 40rem;
      height: 20rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      overflow: hidden;
    }

    &__block {
      padding: $m-gutter;
    }
  }

  &-block {
    padding: $m-gutter;

    &__grid {
      display: flex;
      justify-content: space-between;

      &-item {
        color: $c-test;
        font-size: 0.8rem;
      }
    }

    &__heading {
      font-size: 2rem;
      text-align: left;
    }

    &__text {
      text-align: left;
    }
  }
}

.img-center {
  width: 100%;
}


.with-bg {
  background-image: url(attr(data-img));
}

.margin-top {
  margin-top: $m-gutter;
}
