.card {
  display: flex;
  justify-content: center;
  color: $c-blue;

  &-content {
    width: 40rem;
    border-radius: 5px;

    &__img {
      position: relative;
      width: 40rem;
      height: 20rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      overflow: hidden;
    }

    &__block {
      padding: $m-gutter;
    }
  }

  &-block {
    padding: $m-gutter;

    &__grid {
      display: flex;
      justify-content: space-between;
    }

    &__heading {
      font-size: 2rem;
      text-align: left;
    }

    &__text {
      text-align: left;
    }
  }
}

.img-center {
  width: 100%;
}