.f-source {
  font-family: $f-1;
  font-size: 2rem;
}

.f-vt {
  font-family: $f-2;
  font-size: 5rem;
}

.f-quicksand {
  font-family: $f-3;
  font-size: 3rem;
}

.f-raleway {
  font-family: $f-4;
  font-size: 1rem;
}

.f-lora {
  font-family: $f-5;
  font-size: 2rem;
}

.f-muli {
  font-family: $f-6;
  font-size: 1rem;
}

.f-inconsolata {
  font-family: $f-7;
  font-size: 4rem;
}

.f-catamaran {
  font-family: $f-8;
  font-size: 3rem;
}

.f-crimson {
  font-family: $f-9;
  font-size: 5rem;
}

.f-abril {
  font-family: $f-10;
  font-size: 3rem;
}

.f-gloria {
  font-family: $f-11;
  font-size: 4rem;
}

.f-space {
  font-family: $f-12;
  font-size: 2rem;
}

.f-amatic {
  font-family: $f-13;
  font-size: 5rem;
}

.f-josefin {
  font-family: $f-14;
  font-size: 1rem;
}

.f-righteous {
  font-family: $f-15;
  font-size: 3rem;
}

.f-bungee {
  font-family: $f-16;
  font-size: 3rem;
}

.f-poiret {
  font-family: $f-17;
  font-size: 7rem;
}

.f-courgette {
  font-family: $f-18;
  font-size: 6rem;
}

.f-playfair {
  font-family: $f-19;
  font-size: 2rem;
}

.f-didact {
  font-family: $f-20;
  font-size: 4rem;
}

.f-sorts {
  font-family: $f-21;
  font-size: 5rem;
}
