.f-source {
  font-family: $f-1;
}

.f-vt {
  font-family: $f-2;
}

.f-quicksand {
  font-family: $f-3;
}

.f-raleway {
  font-family: $f-4;
}

.f-lora {
  font-family: $f-5;
}

.f-muli {
  font-family: $f-6;
}

.f-inconsolata {
  font-family: $f-7;
}

.f-catamaran {
  font-family: $f-8;
}

.f-crimson {
  font-family: $f-9;
}

.f-abril {
  font-family: $f-10;
}

.f-gloria {
  font-family: $f-11;
}

.f-space {
  font-family: $f-12;
}

.f-amatic {
  font-family: $f-13;
}

.f-josefin {
  font-family: $f-14;
}

.f-righteous {
  font-family: $f-15;
}

.f-bungee {
  font-family: $f-16;
}

.f-poiret {
  font-family: $f-17;
}

.f-courgette {
  font-family: $f-18;
}

.f-playfair {
  font-family: $f-19;
}

.f-didact {
  font-family: $f-20;
}

.f-sorts {
  font-family: $f-21;
}
