.form {

  &__heading {
    margin-bottom: $m-gutter;
    font-size: 2rem;
  }

  &__sub-heading {
    display: inline-block;
    margin-bottom: $m-gutter;
    font-size: 1rem;
  }

  &__field-title {
    text-align: left;
  }

  &__block {
    text-align: center;
  }

  &__input {
    width: 100%;
    margin-bottom: $m-gutter;
    padding: $m-gutter / 2;
    border: 0;
    border-radius: $br-1;
    outline: none;
    background: $c-white;
    color: $c-black;
  }
}

.file-uploader {
  display: block;
  margin-bottom: $m-gutter;
  padding: 10px;
  border-radius: 5px;
  background: $c-white;
  color: $c-black;
}
