.index {
  padding-top: $m-gutter * 2;

  &-grid {


    &__item {
      display: inline-block;
      margin: $m-gutter / 4;
    }
  }

  &__link {
    color: $c-yellow;
  }
}

.page__content {
  text-align: center;
}
