.index {
  padding-top: $m-gutter;

  &-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;

    &__item {
      display: inline-block;
      margin: $m-gutter / 2;
      padding: ($m-gutter / 4) ($m-gutter / 2);
      background-color: $c-electric-blue;
      border-radius: $br-1;
      color: $c-test;
      // font-family: $f-10;
      font-size: 2rem;
    }
  }

  &-logo {
    display: block;
    margin: 0 0 2rem;
    color: $c-red;
    font-family: $f-13;
    font-size: 4rem;
    text-align: center;
  }
}

.page__content {
  text-align: center;
}


