.page {
  display: flex;
  height: 100vh;

  &__sidebar {
        overflow-y: auto;
  }

  &__content {
        flex-grow: 1;
        padding: 2rem;
        overflow-y: auto;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25vw;
  padding: 2rem 0 0 2rem;
  color: $c-deep-black;

  &-list__item {
    margin: 0 0 1rem 2rem;
    font-size: 2rem;
    text-align: left;
  }
}

.item-center {
  text-align: center;
}
