.page {
  display: flex;
  height: 100vh;

  &__sidebar {
    overflow-y: auto;
  }

  &__content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25vw;
  padding: 2rem 0 0 2rem;
  // background-image:
  // linear-gradient(
  //   to top right,
  //   $c-yellow, $c-blue
  // );
  color: $c-deep-black;

  &-list__item {
    margin: 0 0 1rem 2rem;
    font-size: 2rem;
    text-align: left;
  }
}

.logo {
  max-width: 100%;
  margin: 3rem 0 5rem;
}

.item-center {
  text-align: center;
}
