.page {
  display: flex;
  height: 100vh;

  &__sidebar {
    overflow-y: auto;
  }

  &__content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15vw;
  padding: $m-gutter;
  background: $c-yellow;
  // background-image:
  // linear-gradient(
  //   to top right,
  //   $c-yellow, $c-blue
  // );
  color: $c-deep-black;

  &-list__item {
    margin: $m-gutter 0;
    font-family: $f-4;
    font-size: 1.5rem;
    text-align: center;
  }
}

.logo {
  max-width: 7rem;
  margin-bottom: $m-gutter;
}

.item-center {
  text-align: center;
}
