$c-black:       rgba(10, 18, 42, 1);
$c-green:       rgba(200, 255, 190, 1);
$c-pale-white:  rgba(251, 250, 248, 1);
$c-beige:       rgba(231, 222, 205, 1);
$c-burgundy:    rgba(128, 78, 73, 1);
$c-deep-black:  rgba(39, 39, 39, 1);
$c-yellow:      rgba(254, 215, 102, 1);
$c-blue:        rgba(67, 148, 214, 1);
$c-grey:        rgba(195, 194, 195, 1);
$c-pale-white:  rgba(239, 241, 243, 1);
$c-red:         rgba(221, 64, 58, 1);
$c-test:        rgb(23%, 18%, 42%);

$c-pink: #fd7efd;
$c-electric-blue: #58fffe;

$primary-color-dark:   #d32f2f;
$primary-color:        #f44336;
$primary-color-light:  #ffcdd2;
$primary-color-text:   #fff;
$accent-color:         #9e9e9e;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #bdbdbd;


$f-1:  'VT323', monospace;
$f-2:  'Quicksand', sans-serif;
$f-3:  'Raleway', sans-serif;
$f-4:  'Lora', serif;
$f-5:  'Inconsolata', monospace;
$f-6:  'Catamaran', sans-serif;
$f-7:  'Crimson Text', serif;
$f-8:  'Abril Fatface', cursive;
$f-9:  'Gloria Hallelujah', cursive;
$f-10: 'Space Mono', monospace;
$f-11: 'Amatic SC', cursive;
$f-12: 'Josefin Slab', serif;
$f-13: 'Righteous', cursive;
$f-14: 'Bungee Hairline', cursive;
$f-15: 'Poiret One', cursive;
$f-16: 'Courgette', cursive;
$f-17: 'Playfair Display SC', serif;
$f-18: 'Didact Gothic', sans-serif;
$f-19: 'Sorts Mill Goudy', serif;

$m-gutter: 1rem;

$br-1: 0.2rem;

$bs-1: 2px 2px 1px -0.5px $c-black;
$bs-2: 0 3px 15px rgba(250, 255, 255, 0.2);

@import 'ember-power-calendar';
@import 'ember-basic-dropdown';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';
@import 'burger';
@import 'reset';
@import 'layout';
@import 'form';
@import 'modal';
@import 'grid';
@import 'button';
@import 'sidebar';
@import 'index';
@import 'fonts';
@import 'detail';
@import 'error-msg';
