$c-black: rgba(10, 18, 42, 1);
$c-green: rgba(105, 143, 63, 1);
$c-white: rgba(251, 250, 248, 1);
$c-beige: rgba(231, 222, 205, 1);
$c-burgundy: rgba(128, 78, 73, 1);

$f-1: 'Source Sans Pro', sans-serif;
$f-2: 'VT323', monospace;
$f-3: 'Quicksand', sans-serif;
$f-4: 'Raleway', sans-serif;
$f-5: 'Lora', serif;
$f-6: 'Muli', sans-serif;
$f-7: 'Inconsolata', monospace;
$f-8: 'Catamaran', sans-serif;
$f-9: 'Crimson Text', serif;
$f-10: 'Abril Fatface', cursive;
$f-11: 'Gloria Hallelujah', cursive;
$f-12: 'Space Mono', monospace;
$f-13: 'Amatic SC', cursive;
$f-14: 'Josefin Slab', serif;
$f-15: 'Righteous', cursive;
$f-16: 'Bungee Hairline', cursive;
$f-17: 'Poiret One', cursive;
$f-18: 'Courgette', cursive;
$f-19: 'Playfair Display SC', serif;
$f-20: 'Didact Gothic', sans-serif;
$f-21: 'Sorts Mill Goudy', serif;

$m-gutter: 1rem;

$br-1: 0.2rem;

$bs-1: 2px 2px 1px -0.5px $c-black;

@import 'reset';
@import 'layout';
@import 'form';
@import 'event-card';
@import 'grid';
@import 'button';
@import 'sidebar';
@import 'index';
@import 'fonts';
