<div class="section event-list">
  <div class="container">
    <div class="grid">
      {{!-- TODO loop through grid items --}}
      <span class="grid-item">Lobster</span>
      <span class="grid-item">Crawl Space</span>
      <span class="grid-item">Party</span>
      <span class="grid-item">Yes</span>
      <span class="grid-item">Marfa</span>
      <span class="grid-item">Lingo</span>
      <span class="grid-item">Disco Ball</span>
      <span class="grid-item">Paleo</span>
      <span class="grid-item">Friends</span>
      <span class="grid-item">Fun</span>
      <span class="grid-item">Latin Swing</span>
    </div>
  </div>
</div>

{{outlet}}
