<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img src="https://static1.squarespace.com/static/53c46660e4b07557fac2eb85/t/550ee40ce4b02547ba9c325e/1427039245866/doug-rickard_a-new-american-picture_west-gallery-6-b1.jpg?format=1500w" alt="event image">
    </div>

  </div>
</div>

{{outlet}}
