<div class="page">
  <div class="page__sidebar sidebar">
    <div class="sidebar-grid">
      {{#link-to "index" class="logo"}}G{{/link-to}}
      <ul class="sidebar-list">
        <li class="sidebar-list__item">{{#link-to "login"}}Login{{/link-to}}</li>
        <li class="sidebar-list__item">{{#link-to "new"}}Create Event{{/link-to}}</li>
        <li class="sidebar-list__item">{{#link-to "index"}}Spaces{{/link-to}}</li>
        <li class="sidebar-list__item">{{#link-to "archive"}}Archive{{/link-to}}</li>
      </ul>
    </div>
  </div>
  <div class="page__content">{{outlet}}</div>
</div>
