<div class="section">
  <div class="grid">
    <div class="grid__item">
      <div class="sidebar">
        <div class="sidebar-grid">
          {{#link-to "index" class="logo"}}Goodall{{/link-to}}
          <p>{{#link-to "login"}}Login{{/link-to}}</p>
          <p>{{#link-to "new"}}Create Event{{/link-to}}</p>
          <p>{{#link-to "index"}}Spaces{{/link-to}}</p>
        </div>
      </div>
    </div>
    <div class="grid__item">
      {{outlet}}
    </div>
  </div>
</div>
{{!-- TODO add action to form --}}
{{!-- <form class="form" action="submit" method="post">
<div class="form__block">
{{input type="text" placeholder="Where are you?" class="form__input"}}
<span><button type="submit" name="Go" class="button">Go!</button></span>
</div>
</form> --}}
