{{#burger-menu as |burger|}}
  {{#burger.menu dismissOnItemClick=true itemTagName="li" as |menu|}}
     {{!-- {{#link-to "index" class="bm-menu-heading"}}goodall{{/link-to}} --}}
    <ul>
      {{#menu.item}}
        {{#link-to 'event'}}<img src="../photos/DIY Logo.png" class="bm-menu-logo" alt="logo">{{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#link-to 'new-event'}}Create Event{{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#link-to 'new-space'}}Create Space{{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#link-to 'event'}}Find Spaces{{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#link-to 'login'}}Login{{/link-to}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    <button {{action burger.state.actions.toggle}} class="burger__bars">{{fa-icon "bars"}}</button> {{outlet}}

    {{#modal-dialog}}
      Oh hai there!
    {{/modal-dialog}}
  {{/burger.outlet}}
{{/burger-menu}}
