<p>
  {{x-file-input name="files" multiple=false action=(action "uploadPhoto") accept="image/png,image/jpg" class="file-uploader" alt="Upload Photo"}}

  {{#if (get changeset.error propertyName)}}
   {{#each (get (get changeset.error propertyName) 'validation') as |error|}}
     <br>
     {{error}}
   {{/each}}
  {{/if}}
</p>
