<p>
  {{date-range-picker
    start="20150101"
    end="20151231"
    class="form__date-picker"
    applyAction=(action "setDateRange")
    hideAction=(action "hideDatePicker")
    cancelAction=(action "cancelDatePicker")
  }}
</p>
